.instructions-display {
  align-items: center;
  background-color: #ada37d;
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: space-between;
  position: absolute;
  top: 15px;
  width: 800px;
  z-index: 50;
}

.instructions-header {
  font-size: 3rem;
  background-color: green;
  margin: 50px 0px 0px 20px;
  width: 50%;
  height: 14%;
  border-radius: 20px;
}

.instructions-article {
  font-size: 2rem;
  margin: 5px;
}

.exit-instructions-button {
  width: 300px;
  height: 125px;
  margin: 10px;
  font-size: 1.8rem;
  background-color: yellow;
  border-radius: 15px;
  &:hover {
    cursor: pointer;
    background-color: #F19143;
  }
}